arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.2
cryptography==42.0.8
cssselect2==0.7.0
cycler==0.12.1
dj-static==0.0.6
Django==5.0.7
django-admin-interface==0.28.8
django-bootstrap4==24.3
django-colorfield==0.11.0
django-crispy-forms==2.2
django-db-tools==0.0.1
django-grappelli==4.0.1
django-http-method==1.2.1
django-multiselectfield==0.1.12
django-shortcuts==1.6
django-storages==1.14.3
django-widget-tweaks==1.5.0
django-wkhtmltopdf==3.4.0
django-xhtml2pdf==0.0.4
fonttools==4.53.0
idna==3.7
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.0
numpy==2.0.0
oscrypto==1.3.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pip==24.0
psycopg2-binary==2.9.9
pycparser==2.22
pydyf==0.11.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pyparsing==3.1.2
pypdf==4.3.0
pyphen==0.15.0
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.2.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
static3==0.7.0
text-unidecode==1.3
tinycss2==1.3.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritools==4.0.3
urllib3==2.2.2
webencodings==0.5.1
xhtml2pdf==0.2.16
