{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add Physical Progress
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top: -15px; height: 100%;">
  </div>
  <div class="col-md-10 offset-md-2" id="messages">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">
      {{ success }}
    </div>
    {% endif %}
  </div>
  <div class="col-md-10 offset-md-2">
    <div class="container-fluid">
      <h3>Add Physical Progress :</h3><br />

      <form id="form-container" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="id_Date_Of_Reporting">Date Of Reporting:</label>
            <input type="date" name="Date_Of_Reporting" id="id_Date_Of_Reporting" class="form-control" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="id_Physical_Progress_Percentage">Work Completed (In Percent):</label>
            <input type="number" name="Physical_Progress_Percentage" id="id_Physical_Progress_Percentage"
              class="form-control" required min="0" max="100">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <a href="{% url 'projects' %}" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary" id="submit-button" {% if error or project_completed%}disabled{% endif %}>Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("form-container");
    const submitButton = document.getElementById("submit-button");
    const dateInput = document.getElementById("id_Date_Of_Reporting");

    function setMaxDate() {
      const today = new Date().toISOString().split('T')[0];
      dateInput.setAttribute('max', today);
    }

    function checkFormValidity() {

      const inputs = form.querySelectorAll("input[required]");
      let allFilled = true;
      inputs.forEach(input => {
        if (!input.value) {
          allFilled = false;
        }
      });
      submitButton.disabled = !allFilled;
    }


    form.addEventListener("input", checkFormValidity);
    form.addEventListener("change", checkFormValidity);


    checkFormValidity();
    setMaxDate();
  });
</script>

{% endblock %}