{% extends 'base.html' %}

{% block title %}
View Projects
{% endblock %}

{% block extra_css %}
<!-- Include any additional CSS files here -->
{% endblock %}

{% block content %}

<div class="row">
    <!-- SIDEBAR -->
    <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
        <!-- Sidebar content here if needed -->
    </div>
    <!-- SIDEBAR END -->

    <!-- MAIN CONTENT -->
    <div class="col-md-10">
        <div class="container-fluid">
            <h3>Expenditure Analysis for {{ year }} </h3><br />

            <!-- Status Message -->
            <div id="messages">
                {% if status %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ status }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
            <!-- Status Message End -->
<!-- Year Selection Form -->
<div class="card shadow mb-4">
    <div class="card-body text-center">
        <h5 class="card-title text-primary mb-4">Select Year for Analysis</h5>
        <form method="GET" action="{% url 'amount_released_analysis' %}">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="form-floating">
                        <select id="year" name="year" class="form-select">
                            {% for y in years %}
                            <option value="{{ y }}" {% if y == year %} selected{% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                        <label for="year" class="form-label">Year:</label>
                    </div>
                </div>
                <div class="col-md-2 align-self-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

            <!-- Table for Divisions and Amounts -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Expenditure data for each division</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Division</th>
                                    {% for division, amount in yearly_data.items %}
                                    <th>{{ division }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amount (In Rs. Lacs)</td>
                                    {% for division, amount in yearly_data.items %}
                                    <td>{{ amount|floatformat:2 }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Bar Chart for Divisions and Amounts -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Bar Chart for Divisions and Expenditure Amount</h4>
                </div>
                <div class="card-body">
                    <canvas id="barChart" style="height: 400px;"></canvas>
                </div>
            </div>

            <!-- Monthly data Table for Divisions and Amounts - Udaipur -->
            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Udaipur</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableUdaipur" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Months</th>
                                    <th>January</th>
                                    <th>February</th>
                                    <th>March</th>
                                    <th>April</th>
                                    <th>May</th>
                                    <th>June</th>
                                    <th>July</th>
                                    <th>August</th>
                                    <th>September</th>
                                    <th>October</th>
                                    <th>November</th>
                                    <th>December</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amount (In Rs. Lacs)</td>
                                    {% for amount in udaipur_monthly_data %}
                                    <td>{{ amount }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="barChartUdaipur" style="height: 300px; min-height: 300px;"></canvas>
                </div>
            </div>
                        
        <script>
            // Bar Chart Data for Udaipur
            var ctxBarUdaipur = document.getElementById('barChartUdaipur').getContext('2d');
            var barChartUdaipur = new Chart(ctxBarUdaipur, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in udaipur_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
            }]
          },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Jodhpur -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Jodhpur</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableJodhpur" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in jodhpur_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartJodhpur" style="height: 10px; min-height: 10px;"></canvas>
            </div>
        </div>

        <script>
            // Bar Chart Data for Udaipur
            var ctxBarJodhpur = document.getElementById('barChartJodhpur').getContext('2d');
            var barChartJodhpur = new Chart(ctxBarJodhpur, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in jodhpur_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
                  }]
                },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
              });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Kota -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Kota</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableKota" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in kota_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartKota" style="height: 10px; min-height: 10px;"></canvas>
            </div>
        </div>

        <script>
            // Bar Chart Data for Udaipur
            var ctxBarKota = document.getElementById('barChartKota').getContext('2d');
            var barChartKota = new Chart(ctxBarKota, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in kota_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
                  }]
                },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
              });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Bikaner -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Bikaner</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableBikaner" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in bikaner_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartBikaner" style="height: 10px; min-height: 10px;"></canvas>
            </div>
        </div>

        <script>
            // Bar Chart Data for Udaipur
            var ctxBarBikaner = document.getElementById('barChartBikaner').getContext('2d');
            var barChartBikaner = new Chart(ctxBarBikaner, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in bikaner_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
                  }]
                },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
              });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Jaipur -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Jaipur</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableJaipur" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in jaipur_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartJaipur" style="height: 10px; min-height: 10px;"></canvas>
            </div>
        </div>

        <script>
            // Bar Chart Data for Udaipur
            var ctxBarJaipur = document.getElementById('barChartJaipur').getContext('2d');
            var barChartJaipur = new Chart(ctxBarJaipur, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in jaipur_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
                  }]
                },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
              });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Ajmer -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Ajmer</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableAjmer" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in ajmer_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartAjmer" style="height: 10px; min-height: 10px;"></canvas>
            </div>
        </div>

        <script>
            // Bar Chart Data for Udaipur
            var ctxBarAjmer = document.getElementById('barChartAjmer').getContext('2d');
            var barChartAjmer = new Chart(ctxBarAjmer, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in ajmer_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
                  }]
                },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
              });
        </script>

        <!-- Monthly data Table for Divisions and Amounts - Bharatpur -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Monthly Data for Bharatpur</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableBharatpur" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Months</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Amount (In Rs. Lacs)</td>
                                {% for amount in bharatpur_monthly_data %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <canvas id="barChartBharatpur" style="height: 400px;"></canvas> <!-- Adjust height as needed -->
            </div>
        </div>

        <script>
            // Bar Chart Data for Bharatpur
            var ctxBarBharatpur = document.getElementById('barChartBharatpur').getContext('2d');
            var barChartBharatpur = new Chart(ctxBarBharatpur, {
                type: 'bar',
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [{
                        label: 'Expenditure Amount (In Rs. Lacs)',
                        data: [{% for amount in bharatpur_monthly_data %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 1
            }]
          },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        <script>
            // Bar Chart Data
            var ctxBar = document.getElementById('barChart').getContext('2d');
            var barChart = new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: [{% for division in divisions %}"{{ division }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                label: 'Expenditure Amount (In Rs. Lacs)',
                data: [{% for division, amount in yearly_data.items %}{{ amount }}{% if not forloop.last %}, {% endif %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                ],
                    borderWidth: 1
        }]
      },
            options: {
                plugins: {
                    datalabels: {
                        anchor: 'end',
                            align: 'top',
                                formatter: function(value, context) {
                                    return value.toLocaleString(); // Format the value as needed
                                }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
    });
        </script>
        {% endblock %}