{% extends 'base.html' %}

{% block title %}
View Projects
{% endblock %}

{% block content %}

<div class="row">
  <!-- SIDEBAR -->
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
  </div>
  <!-- SIDEBAR END -->

  <!-- MAIN CONTENT -->
  <div class="col-md-10">
    <div class="container-fluid">
      <h3>Add Details To Your Projects</h3><br />

      <!-- Status Message -->
      <div id="messages">
        {% if status %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ status }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
      </div>
      <!-- Status Message End -->

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">Projects List</h4>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <form method="get" action="{% url 'projects' %}">
              <div class="row mb-3">
                <div class="col-md-10">
                  <label for="searchInput" class="form-label">Search Project:</label>
                  <div class="input-group">
                    <input type="text" id="searchInput" name="search" class="form-control"
                      placeholder="Enter project name or A&F/T.S/W.O. Number" value="{{ request.GET.search }}">
                    <button type="submit" class="btn btn-primary">
                      <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Start Date</th>
              <th>Add Amount Received</th>
              <th>Add Amount Released</th>
              <th>Add Expenditure</th>
              <th>Add Progress</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>{{ project.Name_Of_Project }}</td>
              <td>{{ project.Start_date }}</td>
              <td class="text-center">
                <a href="{% url 'add_amount_recieved' project_id=project.id %}" class="btn btn-secondary  {% if  user.is_active and not user.is_staff and  not user.is_superuser %}
                         disabled{% endif %}">
                  Add Amount Received
                </a>
              </td>
              <td class="text-center">
                <a href="{% url 'add_amount_released' project_id=project.id %}" class="btn btn-warning {% if  user.is_active and not user.is_staff and  not user.is_superuser %}
                         disabled{% endif %}">
                  Add Amount Released
                </a>
              </td>
              <td class="text-center"><a href='{% url "add_expenditure" project_id=project.id %}'
                  class="btn btn-info">Add Expenditure</a></td>
              <td class="text-center"><a href='{% url "add_progress" project_id=project.id %}' class="btn btn-dark">Add
                  Progress</a></td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Project Actions">
                  {% if user.is_superuser %}
                  <a href='{% url "edit_project" project_id=project.id %}' class="btn btn-primary mr-1">Edit</a>
                  {% endif %}
                  {% if user.is_superuser %}
                  <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#deleteModal{{ project.id }}">
                    Delete
                  </button>
                  {% endif %}
                  <div class="modal fade" id="deleteModal{{ project.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel{{ project.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel{{ project.id }}">Confirm Delete</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete Project "{{ project.Name_Of_Project }}"?<br>
                          <p style="color: red;">(This action cannot be undone and you will not be able to access the
                            data again.)</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteModal{{ project.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel{{ project.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel{{ project.id }}">Confirm Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete Project "{{ project.Name_Of_Project }}"?<br>
                      <p style="color: red;">(This action cannot be undone and you will not be able to access the
                        data again.)</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <a href='{% url "delete_project" project_id=project.id %}' class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              </td>
            </tr>
            {% endfor %}
            {% for sproject in sprojects %}
            <tr>
              <td>{{ sproject.Name_Of_Project }}</td>
              <td></td>
              <td class="text-center">
                <a class="btn btn-secondary  {% if  user.is_active and not user.is_staff and  not user.is_superuser %}
                       disabled{% endif %}" href = '{% url "add_split_amountrecieved" project_id=sproject.id %}'>
                  Add Amount Received
                </a>
              </td>
              <td class="text-center">
                <a class="btn btn-warning {% if  user.is_active and not user.is_staff and  not user.is_superuser %}
                       disabled{% endif %}" href = '{% url "add_split_amountreleased" project_id=sproject.id %}'>
                  Add Amount Released
                </a>
              </td>
              <td class="text-center"><a class="btn btn-info" href = '{% url "add_split_expenditure" project_id=sproject.id %}'>Add Expenditure</a></td>
              <td class="text-center"><a class="btn btn-dark" href = '{% url "add_split_progress" project_id=sproject.id %}'>Add Progress</a></td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Project Actions">
                  {% if user.is_superuser or user.is_staff  %}
                  <a class="btn btn-primary mr-1" href = '{% url "add_split_projects" project_id=sproject.id %}' >Add Project</a>
                  {% endif %}
                  {% if user.is_superuser %}
                  <a class="btn btn-success mr-1" href = '{% url "edit_split_project" project_id=sproject.id %}'>Edit Project</a>
                  {% endif %}
                  {% if user.is_superuser %}
                  <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#deleteModal{{ sproject.id }}">
                    Delete
                  </button>
                  {% endif %}
                  <div class="modal fade" id="deleteModal{{ sproject.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel{{ sproject.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel{{ sproject.id }}">Confirm Delete</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete Project "{{ sproject.Name_Of_Project }}"?<br>
                          <p style="color: red;">(This action cannot be undone and you will not be able to access the
                            data again.)</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a href='{% url "delete_project" project_id=sproject.id %}' class="btn btn-danger">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- MAIN CONTENT END -->
</div>

{% endblock %}